Workflows/BTI_NEW.json
{
  "name": "BTI_NEW",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        0
      ],
      "id": "456bf174-c225-4b4a-a3af-1685ee37d756",
      "name": "Telegram Trigger",
      "webhookId": "a751d6ad-0d02-4f91-8835-f14882e737ec",
      "credentials": {
        "telegramApi": {
          "id": "gSpvse5vZRW3hg3k",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "=/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "af10075c-d1f3-4439-bc0d-33e2a6b3c4f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ab13cacd-78b0-4be5-965c-48b27f9e9199",
                    "leftValue": "={{ \n!!$('Telegram Trigger').item.json.message.document || \n!!$('Telegram Trigger').item.json.message.photo \n}}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo/document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "307703b2-dbdd-4583-ad4e-bd5ef24d900b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d79f5c10-c1ce-4606-a0b5-1c0c08a22e2a",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inline"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        16
      ],
      "id": "0660dc49-9d27-4b44-9a72-1df57c0c5d3e",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Добрый день, я бот-помощник для анализа плана БТИ и определения перепланировки",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -48
      ],
      "id": "631c4094-ba6b-4d76-ad17-fc6673c44a69",
      "name": "Send a text message",
      "webhookId": "57580e18-cc79-4a7f-aed1-c93f7fff8865",
      "credentials": {
        "telegramApi": {
          "id": "gSpvse5vZRW3hg3k",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "allowed_users",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $json.callback_query?.message?.chat?.id || $json.message?.chat?.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "id": "0e44ff1c-d297-46eb-85ec-32e70fa0eda4",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VMZLB9TTXZmIHe9x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4065eddd-dacd-48fd-a6db-884489275da3",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        0
      ],
      "id": "bb12a247-2066-4241-83b3-63749bc240e1",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "У Вас нет доступа к этому боту, пожалуйста, обратитесь к администратору",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        -224
      ],
      "id": "ffd140d8-366b-4218-90af-176dcb3dd477",
      "name": "Send a text message1",
      "webhookId": "399780a9-03cd-41a0-b84b-264b77e769a7",
      "credentials": {
        "telegramApi": {
          "id": "gSpvse5vZRW3hg3k",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.result.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -48
      ],
      "id": "8b949628-7061-4b9f-aa82-66c8a40085ae",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VMZLB9TTXZmIHe9x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "364d5e6e-3af8-4188-a3ca-ffcbf5a9bf7d",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        -48
      ],
      "id": "34b9c9c1-93ed-4d56-b94c-73aab74a4529",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Send a text message').item.json.result.chat.id }}"
            },
            {
              "fieldId": "step",
              "fieldValue": "awaiting_plan"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        -144
      ],
      "id": "4d2400f3-06f5-47d3-86b2-9c0778160c52",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "VMZLB9TTXZmIHe9x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.chat_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "awaiting_plan"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "7d1a1bfc-fe49-4449-a594-6d441e6d0958",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "VMZLB9TTXZmIHe9x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "a2d333c1-edb0-4dec-ac13-a968ff6febd1",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VMZLB9TTXZmIHe9x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        416
      ],
      "id": "d91f89dd-3021-4941-85e4-dc454b66ce0c",
      "name": "Get a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VMZLB9TTXZmIHe9x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        608
      ],
      "id": "9b1bf42b-11ce-4e15-b44e-3676334d401c",
      "name": "Get a row3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VMZLB9TTXZmIHe9x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "=awaiting_plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "af10075c-d1f3-4439-bc0d-33e2a6b3c4f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_plan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        224
      ],
      "id": "aec4ad83-0fb8-4369-84b4-808dc7bb6013",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "=awaiting_plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "af10075c-d1f3-4439-bc0d-33e2a6b3c4f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_plan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        416
      ],
      "id": "1617e4c6-c37a-4ef9-a1c1-d1d647c48832",
      "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "=awaiting_plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "af10075c-d1f3-4439-bc0d-33e2a6b3c4f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_plan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        608
      ],
      "id": "a1c6e580-4019-490a-a01e-dc3f40c1a2ca",
      "name": "Switch3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "227a2162-4f98-4321-8314-99d32bca36d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffa24a8326a3776c5f7182355adf187f9fd19cf4cf11e4af8f417ee948d673e8"
  },
  "id": "NCLTfXIAZq3iFFrU",
  "tags": []
}