Workflows/BTI_NEW.json
{
  "updatedAt": "2026-03-20T07:02:17.910Z",
  "createdAt": "2026-03-17T08:49:57.940Z",
  "id": "305RmoqLIGnuYonX",
  "name": "BTI_NEW",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1264,
        400
      ],
      "id": "d1e5a878-4856-4c61-96a0-3e4caec1ddbe",
      "name": "Telegram Trigger",
      "webhookId": "a751d6ad-0d02-4f91-8835-f14882e737ec",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "=/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "af10075c-d1f3-4439-bc0d-33e2a6b3c4f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ab13cacd-78b0-4be5-965c-48b27f9e9199",
                    "leftValue": "={{ \n!!$('Telegram Trigger').item.json.message.document || \n!!$('Telegram Trigger').item.json.message.photo \n}}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo/document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "307703b2-dbdd-4583-ad4e-bd5ef24d900b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d79f5c10-c1ce-4606-a0b5-1c0c08a22e2a",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inline"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -448,
        416
      ],
      "id": "3cdb270b-4093-4bb9-8a75-a8f6ad78b555",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Добрый день, я бот-помощник для анализа плана БТИ и определения перепланировки. Для того, чтобы начать процесс обработки, пожалуйста, пришлите мне фотографию вашего БТИ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        352
      ],
      "id": "3dd43132-2b79-46ff-8d91-a25d8b68b424",
      "name": "Send a text message",
      "webhookId": "57580e18-cc79-4a7f-aed1-c93f7fff8865",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "allowed_users",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $json.callback_query?.message?.chat?.id || $json.message?.chat?.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -992,
        400
      ],
      "id": "211242d7-2513-4d75-9810-5e772e63b7ec",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4065eddd-dacd-48fd-a6db-884489275da3",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        400
      ],
      "id": "5e8b1190-de6b-4045-9e73-f43c3959699e",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "У Вас нет доступа к этому боту, пожалуйста, обратитесь к администратору",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        176
      ],
      "id": "0e4141d4-7f51-4e8f-81c2-47bd2ba51896",
      "name": "Send a text message1",
      "webhookId": "399780a9-03cd-41a0-b84b-264b77e769a7",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.result.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        352
      ],
      "id": "9751cf10-cc19-4996-ac48-b511967c0833",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "364d5e6e-3af8-4188-a3ca-ffcbf5a9bf7d",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        352
      ],
      "id": "e0d01ac3-7181-46fe-9937-4ba2602dd3dc",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Send a text message').item.json.result.chat.id }}"
            },
            {
              "fieldId": "step",
              "fieldValue": "awaiting_plan"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        256
      ],
      "id": "c079dcfc-1f76-466a-a7d3-47c3a8011f16",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.chat_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "awaiting_plan"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "eaa4ab81-e571-4e0c-b439-092fee08bb0d",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        688
      ],
      "id": "5f45d151-abf9-4e6f-88f1-e75777e4df77",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        1808
      ],
      "id": "4b3f35d0-f74c-42aa-9770-7024282214a8",
      "name": "Get a row3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "=awaiting_plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "af10075c-d1f3-4439-bc0d-33e2a6b3c4f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_plan"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "=collecting_photos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "287d7ce6-cdad-4b60-ac40-256404ea4742"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collecting_photos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        192,
        688
      ],
      "id": "1cb03d59-88af-4142-8283-5b7d00e9d0ac",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "=awaiting_plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "af10075c-d1f3-4439-bc0d-33e2a6b3c4f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_plan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        48,
        1808
      ],
      "id": "21cb7714-f82d-4697-bcaa-c9c497266fd5",
      "name": "Switch3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "05bf7145-37dc-4523-9a78-179efad5192a",
              "leftValue": "={{$('Telegram Trigger').item.json.message.photo}}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        688
      ],
      "id": "de6b50fc-6be4-4a08-adb0-3bb52b7aed02",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Пожалуйста, отправьте фотографию плана БТИ, не используйте файлы формата PDF. Данная функция находится в разработке.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        880
      ],
      "id": "46a29113-d0ec-45d6-aa78-8b1c5878ed3d",
      "name": "Send a text message3",
      "webhookId": "d832c17f-f0e3-49bc-aedd-d7dd9d999fa8",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Вы отправили текстовое сообщение. Данный бот ожидает от Вас фотографии или файлы, пожалуйста, отправьте команду /start получения инструкций.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        1280
      ],
      "id": "87efe85c-f532-4a82-acb8-c7f5cc8bcff3",
      "name": "Send a text message4",
      "webhookId": "57580e18-cc79-4a7f-aed1-c93f7fff8865",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "plan_received"
            },
            {
              "fieldId": "plan_url",
              "fieldValue": "=https://phnjdyuwtsqqteyqetgm.supabase.co/storage/v1/object/public/bti-files/plans/{{ $('Telegram Trigger').item.json.message.chat.id }}/plan.png"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        672
      ],
      "id": "fd49dc1e-3545-4758-9ad2-8595ddad11de",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Отлично! Фотография принята, начинаю обработку",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        672
      ],
      "id": "e90a14a3-71d9-40cc-87ec-5006aad49823",
      "name": "Send a text message5",
      "webhookId": "57580e18-cc79-4a7f-aed1-c93f7fff8865",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item?.json?.message?.document?.file_id || $('Telegram Trigger').item?.json?.message?.photo?.slice(-1)[0]?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        672
      ],
      "id": "d5e713e7-2ef3-47c3-8911-0bf3a4d1a9dd",
      "name": "Get a file",
      "webhookId": "2ffed08d-a1c5-438e-93fc-0772ffcb56d0",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84f67da2-4807-4855-b4d4-48ac95a1a4f5",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        864
      ],
      "id": "74d702b6-c01f-4cfd-a3d3-88b3ea2e0451",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Внимание! Telegram даёт сжатое изображение, из-за этого результат может быть неточным. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        672
      ],
      "id": "1c4f1c8b-5fd3-4137-81bb-ee5cdfb54f20",
      "name": "Send a text message6",
      "webhookId": "57580e18-cc79-4a7f-aed1-c93f7fff8865",
      "credentials": {
        "telegramApi": {
          "id": "pf7Lmwh5V28tUCpr",
          "name": "BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://phnjdyuwtsqqteyqetgm.supabase.co/storage/v1/object/bti-files/plans/{{ $('Telegram Trigger').item.json.message.chat.id }}/plan.png",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "={{ $('Telegram Trigger').item.json.message.document?.mime_type || 'image/jpeg' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        672
      ],
      "id": "1ae98b25-cd63-4132-b3da-a5485db392e4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const chatId  = $('Telegram Trigger').first().json.message.chat.id;\n\n// Передаём публичный Supabase URL напрямую — OpenAI скачивает изображение сам.\n// base64 не используем: n8n хранит бинарные данные на диске (filesystem-v2),\n// Code-нода в task runner не может их прочитать.\nconst planUrl = `https://phnjdyuwtsqqteyqetgm.supabase.co/storage/v1/object/public/bti-files/plans/${chatId}/plan.png`;\n\nconst prompt = `Ты — эксперт по анализу планов БТИ. Проанализируй план квартиры.\nВерни ТОЛЬКО чистый JSON (без markdown, без пояснений) в точно таком формате:\n{\n  \"rooms\": [\n    {\n      \"id\": \"room_1\",\n      \"name\": \"Жилая комната 1\",\n      \"region_percent\": { \"x1\": 0.05, \"y1\": 0.10, \"x2\": 0.45, \"y2\": 0.55 }\n    }\n  ],\n  \"shots\": [\n    {\n      \"shot_id\": \"room_1_shot_1\",\n      \"room_id\": \"room_1\",\n      \"room_name\": \"Жилая комната 1\",\n      \"position\": \"северо-западный угол\",\n      \"direction\": \"на юго-восток\",\n      \"instruction\": \"Встаньте в угол комнаты и сфотографируйте всё помещение целиком\"\n    }\n  ]\n}\nПравила:\n- Найди все помещения: жилые комнаты, кухня, санузел(ы), коридор, балкон/лоджия, кладовая\n- Для каждого помещения: 1-2 точки съёмки (угол охвата >= 120 градусов)\n- Инструкции конкретные: с какой точки, куда смотреть\n- Все тексты на русском языке\n- region_percent: нормализованные координаты 0.0-1.0`;\n\nconst requestBody = {\n  model: \"gpt-4o-mini\",\n  messages: [\n    {\n      role: \"user\",\n      content: [\n        { type: \"text\", text: prompt },\n        { type: \"image_url\", image_url: { url: planUrl, detail: \"high\" } }\n      ]\n    }\n  ],\n  response_format: { type: \"json_object\" },\n  temperature: 0.1,\n  max_tokens: 4096\n};\n\nreturn [{ json: { chatId, requestBodyString: JSON.stringify(requestBody) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        672
      ],
      "id": "fc116ce3-51c6-48b2-9d18-7f739bfddb24",
      "name": "Code - Gemini Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBodyString }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2128,
        672
      ],
      "id": "93876821-54aa-4474-85f5-b81ca5060de6",
      "name": "HTTP Request - Gemini"
    },
    {
      "parameters": {
        "jsCode": "const resp   = $input.first().json;\nconst chatId = $('Code - Gemini Request').first().json.chatId;\n\nlet parsed;\ntry {\n  const text = resp.choices[0].message.content;\n  parsed = JSON.parse(text);\n} catch(e) {\n  throw new Error('Ошибка разбора ответа GPT: ' + e.message);\n}\n\nconst rooms = parsed.rooms || [];\nconst shots = parsed.shots || [];\n\nconst shotsStatus = {};\nshots.forEach(s => { shotsStatus[s.shot_id] = 'pending'; });\n\nconst firstShot = shots[0];\nif (!firstShot) throw new Error('GPT не вернул точки съёмки');\nshotsStatus[firstShot.shot_id] = 'requested';\n\nconst roomsList = rooms.map(r => '• ' + r.name).join('\n');\nconst roomsText = '*План проанализирован!*\n\nОбнаруженные помещения:\n' + roomsList + '\n\nВсего точек съёмки: ' + shots.length;\n\nconst total    = shots.length;\nconst firstMsg = '📷 *Фото 1 из ' + total + '*\n\n🏠 ' + firstShot.room_name + '\n📍 Позиция: ' + firstShot.position + '\n➡️ Направление: ' + firstShot.direction + '\n\n' + firstShot.instruction + '\n\n_Отправьте фото как документ/файл — это сохраняет качество_';\n\nreturn [{\n  json: {\n    chatId,\n    rooms_json:        rooms,\n    shots_json:        shots,\n    shots_status:      shotsStatus,\n    rooms_text:        roomsText,\n    first_instruction: firstMsg,\n    total_shots:       total\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        672
      ],
      "id": "91eb5d68-3d8a-457e-ac76-9495a3e555db",
      "name": "Code - Parse Gemini"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.rooms_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2608,
        672
      ],
      "id": "e7416cab-f5c2-4176-ac65-8fd3cc891595",
      "name": "Telegram - Plan Analyzed",
      "webhookId": "317298b9-df44-4134-a351-a0ed68001c30",
      "credentials": {
        "telegramApi": {
          "id": "xojHoW6Kk0xyayrX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $json.chatId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "collecting_photos"
            },
            {
              "fieldId": "rooms_json",
              "fieldValue": "={{ JSON.stringify($json.rooms_json) }}"
            },
            {
              "fieldId": "shots_json",
              "fieldValue": "={{ JSON.stringify($json.shots_json) }}"
            },
            {
              "fieldId": "shots_status",
              "fieldValue": "={{ JSON.stringify($json.shots_status) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        672
      ],
      "id": "2cb84681-f748-4ccd-be55-7da7d1a2ec95",
      "name": "Supabase - Save Analysis",
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code - Parse Gemini').item.json.chatId }}",
        "text": "={{ $('Code - Parse Gemini').item.json.first_instruction }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3088,
        672
      ],
      "id": "76283c6f-fdfb-42aa-a31a-63edfe70b397",
      "name": "Telegram - First Shot Instruction",
      "webhookId": "cc03fc0a-bb88-4f6a-91ce-a378f2163586",
      "credentials": {
        "telegramApi": {
          "id": "xojHoW6Kk0xyayrX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item?.json?.message?.document?.file_id || $('Telegram Trigger').item?.json?.message?.photo?.slice(-1)[0]?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        1120
      ],
      "id": "b80751d4-4483-408d-bc2b-67ca740b0bc8",
      "name": "Get Photo for Shot",
      "webhookId": "a669b904-d19e-412a-b724-5fa827fa8cfb",
      "credentials": {
        "telegramApi": {
          "id": "xojHoW6Kk0xyayrX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $('Get a row1').first().json;\nconst chatId  = $('Telegram Trigger').first().json.message.chat.id;\n\nconst shotsStatus = typeof session.shots_status === 'string'\n  ? JSON.parse(session.shots_status) : (session.shots_status || {});\nconst shots = typeof session.shots_json === 'string'\n  ? JSON.parse(session.shots_json) : (session.shots_json || []);\n\nconst requestedShotId = Object.keys(shotsStatus).find(id => shotsStatus[id] === 'requested');\nif (!requestedShotId) {\n  throw new Error('Нет активной точки съёмки. Введите /start для перезапуска.');\n}\n\nconst updatedStatus = { ...shotsStatus };\nupdatedStatus[requestedShotId] = 'received';\n\nconst nextShot = shots.find(s => updatedStatus[s.shot_id] === 'pending');\nconst allDone  = !nextShot;\nlet nextStatus = { ...updatedStatus };\nlet nextMessage = '';\n\nif (!allDone) {\n  nextStatus[nextShot.shot_id] = 'requested';\n  const total     = shots.length;\n  const shotIndex = shots.findIndex(s => s.shot_id === nextShot.shot_id) + 1;\n  nextMessage = '📷 *Фото ' + shotIndex + ' из ' + total + '*\n\n🏠 ' + nextShot.room_name + '\n📍 Позиция: ' + nextShot.position + '\n➡️ Направление: ' + nextShot.direction + '\n\n' + nextShot.instruction + '\n\n_Отправьте фото как документ/файл — это сохраняет качество_';\n} else {\n  nextMessage = '✅ Все фотографии получены!\n\nНачинаю финальный анализ перепланировки. Это займёт 1-2 минуты...';\n}\n\n// Pass binary through so HTTP Request - Upload Photo can upload the file\nreturn [{\n  json: {\n    chatId,\n    current_shot_id: requestedShotId,\n    shots_status:    nextStatus,\n    all_done:        allDone,\n    next_message:    nextMessage,\n    upload_path:     'photos/' + chatId + '/' + requestedShotId + '.jpg'\n  },\n  binary: items[0].binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        1120
      ],
      "id": "67da245a-afe4-4749-9df0-af5c7c8991dc",
      "name": "Code - Process Shot"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://phnjdyuwtsqqteyqetgm.supabase.co/storage/v1/object/bti-files/{{ $('Code - Process Shot').item.json.upload_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        1120
      ],
      "id": "7589283f-02cf-4e1a-a838-e63550453ba8",
      "name": "HTTP Request - Upload Photo"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Code - Process Shot').item.json.chatId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "shots_status",
              "fieldValue": "={{ JSON.stringify($('Code - Process Shot').item.json.shots_status) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        1120
      ],
      "id": "d9a61a62-0af3-4d77-b50a-8c22ac53fe92",
      "name": "Supabase - Save Shot Status",
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e35d0dd-5988-407f-a8f6-1d9fdfa61a01",
              "leftValue": "={{ $('Code - Process Shot').item.json.all_done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        1120
      ],
      "id": "e61d3e38-db2d-4d1e-ad16-72a7f1fa8699",
      "name": "If - All Shots Done"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Code - Process Shot').item.json.chatId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "photos_complete"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1712,
        992
      ],
      "id": "e539baa3-9faa-4d6d-9af6-29495fa23f4c",
      "name": "Supabase - Photos Complete",
      "credentials": {
        "supabaseApi": {
          "id": "G3gtUOBUeFqG3cuE",
          "name": "DB_BTI_BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code - Process Shot').item.json.chatId }}",
        "text": "={{ $('Code - Process Shot').item.json.next_message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        992
      ],
      "id": "147d6086-2898-4e54-a8a9-41776e6f342d",
      "name": "Telegram - All Photos Done",
      "webhookId": "ddf4f39c-33a3-4af4-9660-952549e98201",
      "credentials": {
        "telegramApi": {
          "id": "xojHoW6Kk0xyayrX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code - Process Shot').item.json.chatId }}",
        "text": "={{ $('Code - Process Shot').item.json.next_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        1264
      ],
      "id": "23224734-50de-4041-a12e-5a65e6449d78",
      "name": "Telegram - Next Shot",
      "webhookId": "2de7eec5-d141-4c67-a4c2-5ae8f6f7d0d1",
      "credentials": {
        "telegramApi": {
          "id": "xojHoW6Kk0xyayrX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Binary data is received from HTTP Request - Download Plan node\n// n8n stores binary as base64 in item.binary[key].data\nconst binary = $input.first().binary;\nconst key = Object.keys(binary)[0];\nconst base64 = binary[key].data;\nconst mimeType = binary[key].mimeType || 'image/jpeg';\n\nif (!base64) throw new Error('Binary data is empty — plan not found in Supabase');\n\nreturn [{ json: { base64, mimeType } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        672
      ],
      "id": "code-extract-base64-bti",
      "name": "Code - Extract Base64"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        2400
      ],
      "id": "e0675d70-7df3-432e-83c6-e8e567ab5da3",
      "name": "Manual Trigger - RAG"
    },
    {
      "parameters": {
        "jsCode": "// Загрузи эти PDF в Supabase Storage: bti-files/knowledge-base/\n// normy.pdf   → Чек лист нормы перепланировок\n// katalog.pdf → Каталог типовых решений перепланировок\n// razmery.pdf → Чек лист допустимые размеры помещений\nreturn [\n  { json: { path: 'knowledge-base/normy.pdf',   source: 'Чек лист нормы перепланировок' } },\n  { json: { path: 'knowledge-base/katalog.pdf',  source: 'Каталог типовых решений перепланировок' } },\n  { json: { path: 'knowledge-base/razmery.pdf',  source: 'Чек лист допустимые размеры помещений' } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        2400
      ],
      "id": "ce26f49b-754a-45f8-8736-46c2b3480cb6",
      "name": "Code - PDF Sources"
    },
    {
      "parameters": {
        "url": "=https://phnjdyuwtsqqteyqetgm.supabase.co/storage/v1/object/bti-files/{{ $json.path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        2400
      ],
      "id": "cd773f7b-b65e-4ef6-8cdd-b26a10be7d1a",
      "name": "HTTP Request - Download PDF"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        2400
      ],
      "id": "5f28ce2f-0acf-4c00-8b30-e745a7b4a1be",
      "name": "Extract from File - PDF"
    },
    {
      "parameters": {
        "jsCode": "const text   = $input.first().json.text || '';\nconst source = $('Code - PDF Sources').item?.json?.source || 'unknown';\n\nconst MAX_CHARS = 80000;\nconst truncated = text.length > MAX_CHARS\n  ? text.substring(0, MAX_CHARS) + '\\n[текст обрезан]'\n  : text;\n\nconst userMessage = `Ты — эксперт по российскому жилищному законодательству.\nТебе дан текст нормативного документа: \"${source}\".\n\nРаздели текст на смысловые блоки по правилам:\n- Каждый блок = одна статья, пункт, подпункт или логически завершённый раздел\n- НЕ режь по страницам — только по смысловым границам\n- Каждый блок должен быть самодостаточным (понятен без контекста)\n- Минимум: 3 предложения. Максимум: ~500 слов.\n\nВерни ТОЛЬКО валидный JSON объект, без markdown:\n{\"chunks\": [{\"title\": \"номер/заголовок пункта\", \"chunk\": \"полный текст блока\"}]}\n\nТекст документа:\n${truncated}`;\n\n// Cohere Chat v2 request format\nconst body = {\n  model: 'command-r-plus-08-2024',\n  messages: [{ role: 'user', content: userMessage }],\n  response_format: { type: 'json_object' },\n  temperature: 0.1\n};\n\nreturn [{ json: { source, requestBody: JSON.stringify(body) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2400
      ],
      "id": "7ad625f0-42db-435c-9ce3-ee070b341379",
      "name": "Code - Prep Chunking Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_COHERE_API_KEY"
            },
            {
              "name": "X-Client-Name",
              "value": "BTI-Bot"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        2400
      ],
      "id": "4d991a87-b585-4661-acb4-53d595c504d6",
      "name": "HTTP Request - Cohere Chunking"
    },
    {
      "parameters": {
        "jsCode": "const resp   = $input.first().json;\nconst source = $('Code - Prep Chunking Request').item?.json?.source || 'unknown';\n\nlet chunks = [];\ntry {\n  // Cohere v2: resp.message.content[0].text\n  const raw = resp.message?.content?.[0]?.text || resp.text || '';\n  const parsed = JSON.parse(raw);\n  chunks = parsed.chunks || parsed.items || (Array.isArray(parsed) ? parsed : []);\n} catch(e) {\n  throw new Error('Ошибка парсинга ответа Cohere: ' + e.message);\n}\n\nif (!chunks.length) throw new Error('Cohere вернул пустой список чанков для: ' + source);\n\nconsole.log(`Источник: ${source} — чанков: ${chunks.length}`);\n\nreturn chunks.map((c, i) => ({\n  json: {\n    source,\n    title: c.title || `Блок ${i + 1}`,\n    chunk: c.chunk || c.text || c.content || '',\n    index: i\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2400
      ],
      "id": "58055f7f-a8f3-48ea-950c-f479bd6733e7",
      "name": "Code - Parse Chunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_COHERE_API_KEY"
            },
            {
              "name": "X-Client-Name",
              "value": "BTI-Bot"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"texts\": [$json.chunk],\"model\": \"embed-multilingual-v3.0\",\"input_type\": \"search_document\",\"embedding_types\": [\"float\"]}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        2400
      ],
      "id": "c0a1ea43-a4e8-46d6-8455-7b90e63a558d",
      "name": "HTTP Request - Embed Chunk"
    },
    {
      "parameters": {
        "jsCode": "const embResp = $input.first().json;\n// Cohere v2 embeddings: { embeddings: { float: [[...1024 floats...]] } }\nconst embedding = embResp.embeddings?.float?.[0];\nif (!embedding) throw new Error('Cohere не вернул embedding: ' + JSON.stringify(embResp).substring(0, 200));\n\nconst chunkData = $('Code - Parse Chunks').item.json;\n\nreturn [{\n  json: {\n    source:    chunkData.source,\n    chunk:     chunkData.chunk,\n    embedding: embedding    // 1024-dimensional float array\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        2400
      ],
      "id": "9c65eb16-c07b-4d50-bdeb-632facc043f3",
      "name": "Code - Prep Embedding Record"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phnjdyuwtsqqteyqetgm.supabase.co/rest/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "apikey",
              "value": "SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"source\": $json.source,\"chunk\":  $json.chunk,\"embedding\": $json.embedding}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        2400
      ],
      "id": "216800f6-83ce-45a6-b005-902581626334",
      "name": "HTTP Request - Insert Embedding"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1600,
        2400
      ],
      "id": "2326917d-38fd-47ce-9adc-7dca1de3abc3",
      "name": "Aggregate - Count Inserted"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first()?.json?.message?.chat?.id || 'REPLACE_WITH_YOUR_CHAT_ID' }}",
        "text": "={{ '✅ RAG база знаний загружена!\\n\\nВставлено чанков: ' + $json.data.length }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        2400
      ],
      "id": "30890971-dde2-416b-a0b1-ed3839820b86",
      "name": "Telegram - RAG Complete",
      "webhookId": "0746f523-11a5-41e7-bc38-84421365f0b9",
      "credentials": {
        "telegramApi": {
          "id": "xojHoW6Kk0xyayrX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://phnjdyuwtsqqteyqetgm.supabase.co/storage/v1/object/public/bti-files/plans/{{ $('Telegram Trigger').first().json.message.chat.id }}/plan.png",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "http-download-plan-bti",
      "name": "HTTP Request - Download Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        672
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Photo for Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message6": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request - Download Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message5": {
      "main": [
        [
          {
            "node": "Code - Gemini Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Gemini Request": {
      "main": [
        [
          {
            "node": "HTTP Request - Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Gemini": {
      "main": [
        [
          {
            "node": "Code - Parse Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Gemini": {
      "main": [
        [
          {
            "node": "Telegram - Plan Analyzed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Plan Analyzed": {
      "main": [
        [
          {
            "node": "Supabase - Save Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Save Analysis": {
      "main": [
        [
          {
            "node": "Telegram - First Shot Instruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo for Shot": {
      "main": [
        [
          {
            "node": "Code - Process Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process Shot": {
      "main": [
        [
          {
            "node": "HTTP Request - Upload Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Upload Photo": {
      "main": [
        [
          {
            "node": "Supabase - Save Shot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Save Shot Status": {
      "main": [
        [
          {
            "node": "If - All Shots Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - All Shots Done": {
      "main": [
        [
          {
            "node": "Supabase - Photos Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Next Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Photos Complete": {
      "main": [
        [
          {
            "node": "Telegram - All Photos Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Base64": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger - RAG": {
      "main": [
        [
          {
            "node": "Code - PDF Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - PDF Sources": {
      "main": [
        [
          {
            "node": "HTTP Request - Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Download PDF": {
      "main": [
        [
          {
            "node": "Extract from File - PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File - PDF": {
      "main": [
        [
          {
            "node": "Code - Prep Chunking Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prep Chunking Request": {
      "main": [
        [
          {
            "node": "HTTP Request - Cohere Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Chunks": {
      "main": [
        [
          {
            "node": "HTTP Request - Embed Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Embed Chunk": {
      "main": [
        [
          {
            "node": "Code - Prep Embedding Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prep Embedding Record": {
      "main": [
        [
          {
            "node": "HTTP Request - Insert Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Insert Embedding": {
      "main": [
        [
          {
            "node": "Aggregate - Count Inserted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - Count Inserted": {
      "main": [
        [
          {
            "node": "Telegram - RAG Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Cohere Chunking": {
      "main": [
        [
          {
            "node": "Code - Parse Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Download Plan": {
      "main": [
        [
          {
            "node": "Code - Extract Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a2fb03bb-f40b-4a00-8786-2eca57bce97d",
  "activeVersionId": null,
  "versionCounter": 48,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": null
}